{% load static %}

<header class="__navbar">
  <nav>
    <div class="container-navbar">
      <div class="wrapper">
        <div class="logo-links-container">
          <img class="logo" src="{% static 'img/logo.svg' %}" alt="Foodguard Logo" />
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/ingredient">My Ingredients</a></li>
            <li><a href="/recipe_list">Recipe Book</a></li>
            <li><a href="{% url 'shoppinglist:list_detail' list_id=1 %}">View Shopping List</a></li>
          </ul>
        </div>
        <button class="btn-primary">Login</button>
      </div>
    </div>
  </nav>
</header>
