<form
  id="form-add-ingredient"
  action="{% url 'shoppinglist:add_ingredient_to_buy' list_id=1 %}"
  method="POST"
  class="hide"
>
  <header>
    <h3>Add Ingredient</h3>
  </header>

  {{ form.media }} {% csrf_token %}
  <div class="input-container">
    <div class="input-group">
      <label for="ingredient">Ingredient</label>
      <select id="inpt-ingredient" name="ingredient" required>
        {% for ingredient in ingredients %}
        <option value="{{ ingredient.ingredient_id }}">{{ ingredient.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="input-group">
      <label for="quantity">Quantity</label>
      <input type="number" id="inpt-quantity" name="quantity" required />
    </div>
  </div>

  <div class="button-container">
    <button id="btn-close" type="button" class="btn-gray">Close</button>
    <button id="btn-submit" type="submit" class="btn-primary">Add Ingredient</button>
  </div>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const ingredientForm = document.getElementById("form-add-ingredient");
    const addButton = document.getElementById("btn-add");
    const closeButton = document.getElementById("btn-close");

    const openForm = () => {
      ingredientForm.classList.remove("hide");
      ingredientForm.classList.add("show");
    };

    const closeForm = () => {
      ingredientForm.classList.remove("show");
      ingredientForm.classList.add("hide");
    };

    if (addButton) {
      addButton.addEventListener("click", openForm);
    }

    if (closeButton) {
      closeButton.addEventListener("click", closeForm);
    }
  });
</script>
