<form id="form-add-ingredient" action="{% url 'shoppinglist:add_ingredient_to_buy'  %}" method="POST" class="hide">
  <header>
    <h3>Add Ingredient</h3>
  </header>

  {% csrf_token %}
  <div class="input-container">
    <div class="input-group">
      <label for="ingredient">Ingredient</label>
      <select id="inpt-ingredient" name="ingredient" required>
        {% for ingredient in ingredients %}
        <option value="{{ ingredient.ingredient_id }}">{{ ingredient.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="input-group">
      <label for="quantity">Quantity</label>
      <input type="number" id="inpt-quantity" name="quantity" min="1" step="1" required />
    </div>
  </div>

  <div class="button-container">
    <button id="btn-close" type="button" class="btn-gray">Close</button>
    <button id="btn-submit" type="submit" class="btn-primary">Add Ingredient</button>
  </div>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const ingredientForm = document.getElementById("form-add-ingredient");
    const addButton = document.getElementById("btn-add");
    const closeButton = document.getElementById("btn-close");
    const delButton = document.getElementById("btn-del");
    const delCancelButton = document.getElementById("btn-cancel-del");
    const containerActionButtons = document.querySelectorAll(".container-action-btn");
    const containerCheckbox = document.querySelectorAll(".container-checkbox");

    const show = (item) => {
      item.classList.remove("hide");
      item.classList.add("show");
    };

    const hide = (item) => {
      item.classList.remove("show");
      item.classList.add("hide");
    };

    const openForm = () => {
      show(ingredientForm);
    };

    const closeForm = () => {
      hide(ingredientForm);
    };

    const actionShow = () => {
      containerActionButtons.forEach((container) => {
        show(container);
      });

      containerCheckbox.forEach((container) => {
        hide(container);
      });
    };

    const actionDelete = () => {
      containerActionButtons.forEach((container) => {
        hide(container);
      });

      containerCheckbox.forEach((container) => {
        show(container);
      });
    };

    if (addButton) {
      addButton.addEventListener("click", openForm);
    }

    if (closeButton) {
      closeButton.addEventListener("click", closeForm);
    }

    if (delButton) {
      delButton.addEventListener("click", actionDelete);
    }

    if (delCancelButton) {
      delCancelButton.addEventListener("click", actionShow);
    }

    document.getElementById("delete-ingredients-form").addEventListener("submit", function (event) {
      event.preventDefault();

      const selectedIds = Array.from(document.querySelectorAll(".ingredient-checkbox:checked")).map(
        (checkbox) => checkbox.value
      );

      if (selectedIds.length === 0) {
        alert("No ingredients selected for deletion!");
        return;
      }

      fetch("{% url 'shoppinglist:delete_ingredient_to_buy'  %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({ selected_ingredients: selectedIds }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            location.reload();
          }
        });
    });
  });
</script>
