{% extends 'base.html' %} {% load static %} {% block content %}
<main id="shopping-list">
  <!-- Wrapper -->
  <div class="wrapper">
    <!-- View Section-->
    <section>
      <div class="header-container">
        <header>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="icon-list"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon-md"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 0 1 0 3.75H5.625a1.875 1.875 0 0 1 0-3.75Z"
            />
          </svg>
          <h2>My List</h1>
        </header>
        <div class="button-container">
          <button id="btn-del">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              id="icon-trash"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="icon-sm"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
              />
            </svg>
          </button>
          <button id="btn-add" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              id="icon-add"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="icon-sm"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
          </button>
        </div>
      </div>

      <!-- Ingredients To Buy Table -->
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Ingredient</th>
              <th>Quantity</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for ingredient in ingredients_to_buy %}
            <tr class="{% if ingredient.in_cart %}in-cart{% else %}not-in-cart{% endif %}">
              <td>{{ forloop.counter }}</td>
              <td>{{ ingredient.ingredient.name }}</td>
              <td>{{ ingredient.quantity }}</td>
              <td>
                <form action="{% url 'shoppinglist:quantity_change' list_id=1 ingredient_id=ingredient.ingredient_id is_add=0 %}" method="POST">
                {% csrf_token %}
                <button id="reduce-qty-btn">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-xs">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                  </svg>
                </button>
              </form>
              </td>
              <td>
                <form action="{% url 'shoppinglist:quantity_change' list_id=1 ingredient_id=ingredient.ingredient_id is_add=1 %}" method="POST">
                  {% csrf_token %}
                  <button id="add-qty-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-xs">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                  </button>
                </form>
              </td>
              <td>
                <form action="{% url 'shoppinglist:toggle_to_cart' list_id=1 ingredient_id=ingredient.ingredient_id %}" method="POST">
                {% csrf_token %}
                <button id="btn-tocart">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="icon-xs"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"
                    />
                  </svg>
                </button>
              </form>
              </td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
      <div>
        <!-- End oF Ingredients To Buy Table-->
    </section>
    <!-- End of View Section-->

    <!-- Summary Aside -->
    <aside>
      <div class="header-container">
        <header>
          <!-- Add SVG-->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="icon-cart"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon-md"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
            />
          </svg>
          <h2>In Cart</h1>
        </header>
      </div>

      <div class="content-container">
        <div class="inner-card-container">
          <div id="card-left" class="card">
            <p>{{ items_left }}</p>
            <h3>Items Left</h3>
          </div>
  
          <div id="card-incart" class="card">
            <p>{{ items_in_cart }}</p>
            <h3>Items in Cart</h3>
          </div>
        </div>

        <div id="card-total" class="card">
          <p>{{ total_items }}</p>
          <h3>Total Items</h3>
        </div>
      </div>

      <form action="{% url 'shoppinglist:finish_list' list_id=1 %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn-inverse-primary" id="btn-finish">Finish Shopping</button>
      </form>
    </aside>
    <!-- End of Summary Aside -->
  </div>

  {% include 'add_ingredient.html' %}
</main>

{% endblock content%}
