{% extends "base.html" %}
{% block content %}
<main id="signup">
    <div class="container">
        <h1>Create a New Account</h1>
        <form method="post" class="signup-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_fname">First Name:</label>
                <input type="text" name="fname" id="id_fname" required>
            </div>
            <div class="form-group">
                <label for="id_lname">Last Name:</label>
                <input type="text" name="lname" id="id_lname" required>
            </div>
            <div class="form-group">
                <label for="id_email">Email:</label>
                <input type="email" name="email" id="id_email" required>
            </div>
            <div class="form-group">
                <label for="id_phone_number">Phone Number:</label>
                <input type="text" name="phone_number" id="id_phone_number" required>
            </div>
            <div class="form-group">
                <label for="id_date_of_birth">Date of Birth:</label>
                <input type="date" name="date_of_birth" id="id_date_of_birth" required>
            </div>
            <div class="form-group">
                <label for="id_password">Password:</label>
                <input type="password" name="password" id="id_password" required>
            </div>
            <button type="submit" class="btn btn-submit">Sign Up</button>
            <a href="{% url 'login' %}" class="btn btn-cancel">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
