{% extends "base.html" %}
{% block content %}
<div id="user-delete">
    <div class="container">
        <h2>Delete User</h2>
        <p class="confirmation-text">
            Are you sure you want to delete <strong>"{{ user.fname }} {{ user.lname }}"</strong>?
        </p>
        <form method="post">
            {% csrf_token %}
            <div class="action-buttons">
                <button type="submit" class="btn-action btn-delete">Yes, Delete</button>
                <a href="{% url 'user-detail' user.pk %}" class="btn-action btn-cancel">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}