{% extends "base.html" %}
{% block content %}
<div id="user-details">
    <div class="container">
        <h2>User Details</h2>
        <div class="user-info">
            <p><strong>First Name:</strong> {{ user.fname }}</p>
            <p><strong>Last Name:</strong> {{ user.lname }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
            <p><strong>Date of Birth:</strong> {{ user.date_of_birth }}</p>
        </div>
        <div class="user-actions">
            <a href="{% url 'user-update' user.pk %}" class="btn-action btn-update">Update</a>
            <a href="{% url 'user-delete' user.pk %}" class="btn-action btn-delete">Delete</a>
            <a href="{% url 'user-list' %}" class="btn-action btn-back">Back to List</a>
        </div>
    </div>
</div>
{% endblock %}
