{% load static %} {% load cache_bust %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, user-scalable=no" />

    <title>FoodGuard | Your Kitchen's Ultimate Companion</title>
    <meta
      name="description"
      content="FoodGuard is your kitchen's ultimate companion, helping you track ingredients, reduce food waste, and discover recipes based on what you already have."
    />

    <!-- Importing Poppin Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Importing the base stylesheet -->
    <link rel="stylesheet" href="{% static 'styles/dist/output.css' %} ? {% cache_bust %}" />

    <!-- Importing icon -->
    <link rel="shortcut icon" href="{% static 'faveicon.ico' %}" />
  </head>
  <body>
    <div class="site-wrapper">
      <!-- Navbar -->
      {% block navbar %} {% include 'navbar.html' %} {% endblock navbar %}

      <!-- Content -->
      {% block content %} {%endblock content %}

      <!-- Footer -->
      {% block footer %} {% endblock footer %}
    </div>
  </body>
</html>
