{% extends 'base.html' %} {% load static %}

<!-- Main Content -->
{% block content %}

<main>
  <section id="hero">
    <div class="wrapper">
      <header>
        <h1>Maximize savings, minimize waste—your kitchen's ultimate companion.</h1>
        <p>Want a break from the perishable goods? Try FoodGuard.</p>
        <button class="btn-primary">Try FoodGuard</button>
      </header>

      <figure>
        <img src="{% static 'img/img_hero.png' %}" />
      </figure>
    </div>
  </section>

  <section id="about">
    <div class="wrapper"></div>
  </section>
</main>
{% endblock content %}
<!-- Footer  -->
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
