{% load static %}

<header id="navigation-header">
  <div class="wrapper">
    <nav>
      <img class="icon-sm" src="{% static 'img/logo.svg' %}" alt="Foodguard Logo" />
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ingredient">My Ingredients</a></li>
        <li><a href="/recipe_list">Recipe Book</a></li>
        <li><a href="{% url 'shoppinglist:list_detail' list_id=1 %}">Shopping List</a></li>
      </ul>
    </nav>
    <button class="btn-primary">Login</button>
  </div>
</header>
