//input.scss

// =============================================================================
// IMPORTS
// =============================================================================

@import "./utilities.scss";

// =============================================================================
// GLOBAL RESET AND BASE STYLES
// =============================================================================

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body,
body * {
  @include text-size-base;
  font-family: $font-family-primary;
  color: $body-fg;
}

main {
  margin-top: 10vh;
  padding: 2rem;
  padding-top: 8rem;
  min-height: 80vh;
}

h1 {
  @include text-size-5xl;
}

h2 {
  @include text-size-4xl;
}

h3 {
  @include text-size-2xl;
}

h4 {
  @include text-size-xl;
}

small {
  @include text-size-sm;
  font-weight: $font-weight-semibold;
}

a {
  @include text-size-sm;
  @include transition(color, 0.4s);

  text-decoration: none;
  font-weight: $font-weight-bold;

  &:hover {
    color: $primary;
  }

  &:active {
    color: darken($primary, 15%);
  }
}

ul {
  gap: 1.125rem;
}

ul > li {
  list-style: none;
}

table {
  overflow: hidden;
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0;
}

// =============================================================================
// CLASS STYLES
// =============================================================================

.site-wrapper {
  @include flex(column);
  @include center;

  height: 100%;

  justify-content: space-between;

  background-image: url(/static/img/bg_doodle.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn {
  &-primary {
    @include button-style($primary, white);
  }

  &-inverse-primary {
    @include button-style(white, $primary);
  }

  &-secondary {
    @include button-style($secondary, white);
  }

  &-gray {
    @include button-style(gray, white);
  }
}

.icon {
  &-xs {
    width: 1.5rem;
  }

  &-sm {
    width: 3.25rem;
  }

  &-md {
    width: 4.75rem;
  }

  &-lg {
    width: 6rem;
  }
}

.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

// =============================================================================
// ID STYLES
// =============================================================================

#navigation-header {
  @include flex(row);
  width: 100%;
  height: 10vh;

  background-color: white;
  border-bottom: 2px solid $primary;

  justify-content: center;
  position: fixed;

  button {
    @include text-size-sm;
    font-weight: $font-weight-bold;
    height: 40%;
  }

  nav {
    display: inherit;
    gap: 2rem;
  }

  ul {
    display: inherit;
    @include center;
  }

  .wrapper {
    display: inherit;
    @include center;

    @include breakpoint(large) {
      width: 80%;
    }

    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }
}

#hero {
  .wrapper {
    @include flex(row);
    @include center;

    @include breakpoint(large) {
      width: 80%;
    }

    margin: 0 auto;
  }

  header {
    @include flex(column);

    p {
      @include text-size-xl;
      font-weight: $font-weight-semibold;
      color: $fg-light;
      margin-top: 1rem;
      margin-bottom: 3rem;
    }

    button {
      height: 2.75rem;
      width: 40%;
    }
  }
}

#site-footer {
  @include center;
  display: flex;

  height: 7vh;
  width: 100%;

  background-color: $primary;

  small {
    color: white;
  }
}

#shopping-list {
  width: 100%;

  .wrapper {
    @include flex(row);
    @include center;

    margin: 0 auto;
    height: 100%;
    gap: 2rem;
    padding-inline: 10vw;
  }

  section,
  aside {
    @include border-radius(24px);
    @include shadow-lg;
    padding: 2rem;
    height: 100%;
  }

  section {
    background-color: white;
    width: 60%;

    h2 {
      color: $primary;
    }

    button {
      background: none;
      outline: none;
      border: none;
    }

    .button-container {
      @include flex(row);
      @include center;
    }

    .button-container form {
      @include center;
    }

    .table-container {
      width: 100%;
      overflow-x: auto;
    }

    table {
      @include border-radius(12px);
      width: 100%;
    }

    thead {
      background-color: $primary;
    }

    th {
      @include text-size-lg;
      color: white;
      font-weight: 600;
      padding: 1rem;
      text-align: left;
    }

    td {
      font-size: $font-xs;
      text-align: left;
      font-weight: 600;
      padding: 0.4rem;
      text-align: left;
      padding-inline: 1rem;
      border-bottom: 1px solid #dcdcdc;
    }

    tr {
      width: 100%;
    }

    tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    .not-in-cart td,
    .not-in-cart td button * {
      color: $primary;
      stroke: $primary;
    }

    .in-cart td,
    .in-cart td button * {
      color: $secondary;
      stroke: $secondary;
    }

    td button {
      margin-inline: 16px;
    }
  }

  aside {
    @include flex(column);
    background-color: $primary;
    width: 40%;

    h2 {
      color: white;
    }

    button {
      @include border-radius(8px);
      width: 100%;
      padding: 1rem;
    }

    .card {
      @include flex(column);
      @include center;
      @include border-radius(8px);

      width: 100%;
      padding: 1rem;
      margin-bottom: 1.125rem;

      p {
        @include text-size-4xl;
        font-weight: $font-weight-bold;
      }

      h3 {
        text-align: center;
      }
    }

    .content-container {
      @include flex(column);
      flex: 2;
    }

    .inner-card-container {
      @include flex(row);
      flex: 2;
      width: 100%;
      height: 100%;

      justify-content: space-between;
      gap: 1rem;
    }

    #card-left {
      background-color: white;

      p,
      h3 {
        color: $tertiary;
      }
    }

    #card-incart {
      background-color: white;

      p,
      h3 {
        color: $secondary;
      }
    }

    #card-total {
      background-color: darken($primary, 5%);

      p,
      h3 {
        color: white;
      }
    }
  }

  #icon-list {
    stroke: $primary;
  }

  #icon-add,
  #icon-checkmark {
    fill: white;
    stroke: $secondary;

    &:hover {
      fill: $secondary;
      stroke: white;
    }
  }

  #icon-trash {
    fill: white;
    stroke: $accent;

    &:hover {
      fill: $accent;
      stroke: white;
    }
  }

  #icon-xmark {
    fill: gray;
    stroke: white;
  }

  #icon-cart {
    stroke: white;
  }

  .header-container {
    @include flex(row);
    justify-content: space-between;
  }

  header {
    @include flex(row);
    align-items: center;
    gap: 1rem;
    margin-bottom: 16px;
  }

  .button-container {
    gap: 1rem;
  }
}

#form-add-ingredient {
  @include flex(column);
  @include border-radius(12px);
  @include shadow-xl;
  position: absolute;
  inset: 0;
  margin: 0 auto;
  align-self: center;
  background-color: white;

  padding: 2rem;
  width: fit-content;
  height: fit-content;
  gap: 1rem;

  .input-container {
    @include flex(column);
    gap: 16px;

    .input-group {
      @include flex(column);
      gap: 8px;
    }

    label {
      font-weight: $font-weight-semibold;
    }

    input,
    select {
      padding: 0.6rem;
    }
  }

  header {
    h3 {
      color: $primary;
    }
  }

  .button-container {
    button {
      @include border-radius(4px);
      height: 32px;
    }
  }
}
